# ──────────────────────────────────────────────────────────────
# Supabase
# ──────────────────────────────────────────────────────────────
NEXT_PUBLIC_SUPABASE_URL=https://oxjutwwwlfuppdkxihwm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_GRnliuxnQ9QpsQapijNNPA_asLPLx6q
NEXT_PUBLIC_SUPABASE_BUCKET=project-files

# ──────────────────────────────────────────────────────────────
# Injective
# ──────────────────────────────────────────────────────────────
# Injective EVM Testnet is free for development.
NEXT_PUBLIC_INJECTIVE_NETWORK=testnet
# Solidity contract address deployed to Injective EVM Testnet (0x...)
NEXT_PUBLIC_MARKETPLACE_CONTRACT=0xcE83e305B26DCD1Bea900e9A4b3D00EC88F417be
INJECTIVE_EVM_RPC_URL=https://k8s.testnet.json-rpc.injective.network/
